<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcu.superword_a_day"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TodaysWords"
            android:label="@string/title_activity_todays_words"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dcu.superword_a_day.MainMenuActivity" />
        </activity>
        <activity
            android:name=".WordViewer"
            android:label="@string/title_activity_word_viewer" >
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name=".WordArchiveActivity"
            android:label="@string/title_activity_word_archive" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name=".AnalyzeResultsActivity"
            android:label="@string/title_activity_analyze_results" >
        </activity>
        <activity
            android:name=".AnalyzeResultsDriverActivity"
            android:label="@string/title_activity_analyze_results_driver" >
        </activity>
        <activity
            android:name=".WordArchiveDriverActivity"
            android:label="@string/title_activity_word_archive_driver" >
        </activity>

        <service
            android:name=".UploadIntentService"
            android:exported="false" >
        </service>
        <service
            android:name=".DownloadIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".TestActivityTestDriver"
            android:label="@string/title_activity_test_activity_test_driver" >
        </activity>
    </application>

</manifest>
